<!DOCTYPE html>
<html>
  <head>
    <title>DocterChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
  </head>

  <body>
    <% if flash[:notice]%>
      <div class="alert alert-info">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-dager">
        <%= flash[:alert]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
